@model GerenciadorDeEquipamentos.Models.DadosIndex
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Navbar -->
<!-- O Navbar -->
@*<div class="navbar-wrapper">
    <a class="navbar-brand">Início</a>
</div>*@
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">desktop_windows</i>
                        </div>
                        <p class="card-category">Ativos</p>
                        <h3 class="card-title">
                            @Model.qtdEquipamentosAtivos
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">desktop_windows</i>
                            <a href="#">Gerenciar Ativos</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">shop</i>
                        </div>
                        <p class="card-category">Licenças</p>
                        <h3 class="card-title">60</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Licenças Ativas
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                        <p class="card-category">Usuários</p>
                        <h3 class="card-title">@Model.qtdUsuariosAtivos</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">

                            <i class="fa fa-user"></i> Usuários Logados
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">call</i>
                        </div>
                        <p class="card-category">OS</p>
                        <h3 class="card-title">6</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Ordem de Serviço
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}